
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    font-family: Arial, Helvetica, sans-serif;
}


.container{
    max-width: 1200px;
    margin: 0 auto;
}

.container-small{
    max-width: 1000px;
    margin: 0 auto;
}

.clearfix::after{
    content: '';
    display: table;
    clear: both;
}
/*unità di misura*/

.col{
    float: left;
}
.w-30{
    width: 30%;
}

.w-50{
    width: 50%;
}

.w-60{
    width: 60%;
}


.w-70{
    width: 70%;
}

.w-33{
    width: calc( 100% / 3);
}

.ml-10{
    margin-left: 10px;
}
.mr-10{
    margin-right: 10px;
}
.mt-10{
    margin-top: 10px;
}

.mb-10{
    margin-bottom: 10px
}

.mt-50{
    margin-top: 50px;
} 
.mb-30{
    margin-bottom: 30px;
}

.text-center{
    text-align: center;
}

.text-left{
    text-align: left;
}

.text-right{
    text-align: right;
}

.btn{
    background-color: rgb(0, 97, 189);
    color: white;
    padding: 5px 20px;
    border:rgb(0, 97, 189);
}

.btn-col{
    background-color: rgb(0, 97, 189);
    color: white;
    padding: 10px 50px;
    margin: 20px 0;
    border:rgb(0, 97, 189);
    text-decoration: none;
}

/*background per loghi*/
.bg-light-red{
    background-color: #ff1c1c;
}

.bg-red{
    background-color: red;
}
.bg-dark-red{
    background-color: #61082b;
}

.bg-green{
    background-color: #a2d39b;
}

.bg-blue{
    background-color: #0093ce;
}

.bg-light-lue{
    background-color: #b4d0e7;
}
.bg-dark-blue{
    background-color: #0d2481;
}

.bg-yellow{
    background-color: #ffd830;
}
.bg-gray{
    background-color: #f5f5f5;
}

/*header*/
header{
    color: black;
}

header .topbar{
    height: 80px;
    line-height: 80px;
}

#logo{
    vertical-align: middle;
}

.topbar .main-nav,
.topbar .main-nav li{
    display: inline-block;
}

.topbar .main-nav li{
    margin: 0 20px;
}

.topbar .main-nav a{
    color: black;
    text-decoration: none;
    font-size: 16px;
    font-weight: 200;
}

.main-nav a{
    text-decoration: none;
}

.main-nav a:hover{
    text-decoration: underline;
} 

/*header*/
.jumbotron{
    background-color: rgb(100, 146, 231);
    padding-top: 50px;
    height: 600px;
}

.title{
    padding-left: 130px;
    padding-bottom: 50px;
}

h1{
    font-size: 3em;
    font-weight: 900;
}

#img-jumbo {
    height: 450px;
    padding-left: 30px;
}

.title-content {
    font-size: 13px;
}
.start-free{
    margin-top: 10px;
    margin-bottom: 30px;
}

.arrow{
    font-size: 30px;
    font-weight: 900;
}

/*colonne 2 section*/

#plans{
    margin-top: 200px;
}
.item{
    border: 1px solid black;
    
}

.item .text-center{
    border-bottom: 1px solid black;
    margin: 5px 0;
}
#plans .plans-list i{
    padding: 3px;
}

#plans .details-list i{
    color: darkcyan;
}

#plans h2{
    font-size: 40px;
    margin-bottom: 60px;
}

#plans h3, .price, .date, li{
    margin: 20px 0;
}

.price{
    font-weight: 700;
}

.date{
    color: rgb(0, 98, 255);
}
.buy{
    margin: 50px 0;
}

#plans article{
    margin: 20px 0;
    padding: 0 20px;
} 
#plans article ul{
    list-style-type: none;
} 

#plans .option{
    display: inline-block;
    margin-right: 50px;
    margin-bottom: 50px;
}

.plans-list .details{
    margin: 40px 0;
}


.radio{
    display: inline-block;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    vertical-align: middle;
    border: 2px solid rgb(16, 126, 190);
}

.radio .radio-select{
    border: 5px solid;
}

#plans hr{
    background-color: rgb(122, 121, 121);
    margin: 40px 0;
    border: 0;
    width: 20%;
    height: 1px;   
}

/*Team 3 section*/

#team{
    margin: 100px 0;
    border: 1px solid gray;
}

#team h2{
    border-bottom: 1px solid gray;
    width: 100%;
    padding: 15px 457px;
}

#team span{
    font-size: 25px;
    font-weight: 900;
    margin: 20px 200px 20px 10px;
}
#team h4, 
#team p{
    margin: 20px 10px;
}
#team a{
    display: inline-block;
    margin-top: 20px;
    padding: 5px 40px;
    margin-left: 380px;
    text-decoration: none;
}

/*Partner*/
#partner{
    margin-top: 100px;
}
#partner .partner-img img{
    width: 100%;
}

#partner h2{
    margin: 20px 20px;
    font-size: 25px;
    font-weight: 900;
}

#partner p{
    margin: 50px 20px;
    line-height: 30px;
}

#partner a{
    text-decoration: none;
    color: black;
    border: 1px solid black;
    padding: 5px 20px;
    margin-left: 20px;
    margin-top: 30px;
}

/*Option business*/
#option-business{
    margin: 50px 0;
}

#option-business h4{
    margin:30px 0;
    padding-right: 20px;
    font-size: 20px;
}

#option-business p{
    margin-bottom: 20px;
    padding-right: 50px;
}

#option-business h2{   
    font-size: 35px;
    font-weight: 900;
    margin: 50px 0;
}

#option-business .logo-business img{
    width: 70%;
    margin-top: 40px;
}

/*Clients*/

#clients{
    margin-top: 20px;
    padding-top: 50px;
}

#clients h2{
    font-size: 30px;
    font-weight: 900;
    margin: 30px 0;
}

#clients a{
    color: dodgerblue;
    margin-bottom: 50px;
    display: block;
}

/*boxes*/
#boxes{
    margin-top: 50px;
}


#boxes > .col{
    width: calc(100% / 3);
    height: calc(100vw / 3);
}

#boxes .logo-box{
    width: 50%;
    height: 50%;
    position: relative;
}

#boxes .logo-box img{
    width: 50%;
    filter: invert(1 );
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#boxes .boxes-center{
    position: relative;
    width: 100%;
    height: 100%;
    padding-left: 30px;
    padding-top: 50px;
}

#boxes .boxes-center p{
    padding-top: 70px;
    padding-bottom: 30px;
    margin-right: 30px;
}

#boxes .boxes-center img{
    width: 35%;
    position: absolute;
}

/*business*/
#business{
    background-color: #b4d0e7;
    height: 300px;
}

#business h4{
    display: inline-block;
    font-size: 35px;
    font-weight: 900;
    color: rgb(44, 3, 83);
    margin: 100px 100px;
    text-align: left;
}

#business a{
    display: inline-block;
    margin-top: 115px;
    margin-left: 100px;

}

.btn-white{ 
    text-decoration: none;
    color: black;
    background-color: white;
    padding: 5px 20px;
    border:white;
}

/*question section*/

#question h4{
    font-size: 25px;
    font-weight: 700;
    margin: 60px 0px;
}

.frequent-questions{
    margin: 40px 30px 40px 0;
    font-weight: 700;
    display: block;
}

#question i{
    margin-left: 320px;
    font-weight: 900;
    text-align: right;
}

#question .distance{
    margin-bottom: 100px;
}

